/* Write your CSS here */
.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.inner {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  border-radius: 8px;
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
